.large-super-container {
  //   text-align: "center";
  background-color: #ffffff;
}
.tedx-speakers-container-mobile {
  background-color: #ffffff;
  color: black;
  margin-top: 7rem;
  margin-bottom: 2rem !important;
  text-align: center;
  height: 100rem !important;
  padding: 0;
  // @include media-breakpoint-up(md) {
  //   padding: 12rem;
  // }

  // @include media-breakpoint-up(lg) {
  //   padding: 14rem;
  // }
}

.tedx-speakers-container-desktop {
  background-color: #ffffff;
  color: black;
  margin-top: -5rem;
  margin-bottom: 2rem !important;
  text-align: center;
  height: 100rem !important;
  padding: 0;
  @include media-breakpoint-up(md) {
    padding: 12rem;
  }

  // @include media-breakpoint-up(lg) {
  //   padding: 14rem;
  // }
}

.speakers-grid-mobile {
  display: grid;
  grid-template-columns: 50% 50% !important;
  padding: 3% 0%;
  min-width: 100%;
  width: 100% !important;
  grid-column-gap: 5%;
  grid-row-gap: 1%;
}
.speakers-grid-desktop {
  display: grid;
  grid-template-columns: 30% 30% 30% !important;
  padding: 3% 0%;
  min-width: 100%;
  width: 100% !important;
  grid-column-gap: 5%;
  grid-row-gap: 1%;
}
.speakers-item {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 30px;
  text-align: center;
  max-height: 400px;
  position: relative;
  margin: 20px 20px;
}
.speakers-header {
  font-size: 150%;
  max-height: 2%;
  font-family: "latoRegular" !important;
}
.speaker-divider {
  border: 1px solid;
  border-color: #c4c4c4;
  width: 100%;
}
.speaker-item-divider {
  border: 1px solid;
  border-color: #cf0505;
}
.speaker-item-header {
  width: 100% !important;
  margin: 0% 0% !important;
  padding: 0% 0% !important;
  font-family: "promptMedium" !important;
  height: 2vw;
  display: inline-block !important;
  // max-width: 200px;
  // word-wrap: break-word;
}
.speaker-image {
  // margin: 10px 10px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.speaker-motto {
  font-size: 120% !important;
  font-family: "promptSemiBold" !important;
  color: #575757;
}
.speaker-detail {
  font-family: "promptRegular" !important;
  text-align: left;
}
